 <div class="container-fluid">
   <div class="row">
        <nav class="navbar navbar-inverse navbar-top" style="border-bottom-color: red;background-color:#1e1e1e">   
         <div class="text-center">
          <a href="/" style="text-decoration: none!important;">
            <img src="images/icon.png" height="50" width="50" style="padding-bottom:10"/>
            <label class="header">player1</label>
          </a>
         </div>
         </nav>   
     </div>
  <div class="row" style="margin-top:40;">
      <div class="col-sm-3"></div>
        <div class="col-sm-6 form text-center" id="inform">
                <p class="f1">Lets Go ! ! ! !</p>
                <form>
                 <label class="err" id="mailerr"></label><br>
                 <input title="Email" name="Email" type="email" placeholder="Email..." id="mail" class="input" required><br>
                 <label class="err" id="passworderr"></label><br>
                 <input title="Password" name="Password" type="password" placeholder="Password..." id="password" class="input" required><br>
                 <input type="button" id="signInForm" value="Sign in" class="inputButton">
                 <input type="button" value="Sign up" class="inputButton" id="signUp">
                </form>
            </div> 
        <div class="col-sm-3"></div>
  </div>                 
 <div class="row"> 
  <div class="col-sm-3"></div>           
    <div class="col-sm-6 form text-center" id="signup">
    <p align="center" class="f1">Please fill in your information</p>
    <form>
    <label class="err" id="nameerr"></label><br>
    <input title="Name" name="name" type="name" placeholder="Name..." class="input" id='name' maxlength="15"><br>
    <label class="err" id="emailerr"></label><br>
    <input title="Email" name="email" type="email" placeholder="Email..." class="input" id="email"><br>
    <label class="err" id="passerr"></label><br>
    <input title="Password" name="password" type="password" placeholder="Password..." class="input" id="pass"><br>
    <label class="err" id="codeerr"></label>
    <div class="radio">
    <label style="margin-left:-30" class="f1">Who are you: <label><input type="radio" style="margin-top:15" name="status" value="admin" id="admin">Admin</label><label style="margin-left:10"><input type="radio" name="status" style="margin-top:15" value="user" id="user">User</label></label>
    </div>
    <input type="password" name="passcode" placeholder="Code..." class="code" title="Code" id="code"><br>
    <input type="button" id="signUpForm" value="Sign up" class="inputButton">
    <input type="button" value="Cancel" class="inputButton" id="cancel">
    </form>
    </div>
  <div class="col-sm-3"></div>  
 </div>
 </div>