<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-inverse" style="border-bottom-color: red;background-color:#1e1e1e">
            <div class="text-center" id="logo" style="position:relative">
                <a href="/main" style="text-decoration: none!important;">
                    <img src="images/icon.png" class="logo" height="50" width="50" style="padding-bottom:10"/>
                    <label class="head">player1</label>
                </a>
            </div>
        </nav>
    </div> 
</div>