.head{
      font-family:BankGothic Lt BT;
      font-size: 35;
      padding-left:10;
      color:white;
      cursor: pointer;
     }  

.details{
          color: white;
          font-size: 15;
          margin-right:10;
          margin-top:-40;
          background-color:#1e1e1e;
          border-color:#1e1e1e;
          border-style:none;   
        }   